
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.category-item {
  padding:10px 10px;
  margin:10px;
  background-color:rgba(darkgray, 0.2);
  border-radius:10px;

  &__name {
    font-size:1.3em;
    font-weight:200;
  }

  &__btn {
    margin-top:19px;
    padding:8px 30px;
  }
}

.category-item {
  position:relative;
  border-radius:10px;

  &__name {
    font-size:0.8rem;
  }

  &__task {


    &--completed {
      background-color: hsla(120, 100%, 40%, 0.5);
      opacity:0.35;
    }
  }

}

.task-item {
  font-family: 'Nunito', sans-serif;
  position:relative;
  font-weight: 700;
  margin-bottom:20px;
  background-color: rgba(black, 0.1);

  &__checkbox {
    float:left;
  }

  &__btn {
    position:relative;
    float:right;

    a {
      margin: 0;
      width:100%;
    }
  }


  &__priority {
    position:relative;
    float:right;
    width:60px;
    height:35px;
    padding: 5px;
    text-align:center;
    margin-right:50px;

    &--0 {
      background-color:green;
    }

    &--1 {
      background-color:yellow;
    }

    &--2 {
      background-color:red;
    }

  }

  &__deadline {
    float:right;
    margin-right:20px;
  }


  &__name {
    font-size:1.5rem;
    padding: 0 8px;
    margin-top:5px;
  }

  &__body {
    font-size:1.1rem;
    padding:8px;
  }

}





.checkbox label:after,
.radio label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr,
.radio .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
}

.radio .cr {
  border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
}

.radio .cr .cr-icon {
  margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
  display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
  opacity: .5;
}
